
pytgcalls==3.0.0.dev19
numerize
https://github.com/New-dev0/Telethon/archive/New.zip
redis
python-decouple==3.3
tgcrypto
python-dotenv==0.15.0
cloudscraper
aiofiles
aiohttp
black
isort
pre-commit
pyclean
pylint
asyncurban
carbonnow
cairosvg
emoji
GitPython
googletrans==4.0.0rc1
git+https://github.com/ilhammansiz/heroku3.py
profanitydetector

